@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather+Sans:wght@300;400&family=Montserrat+Subrayada&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Copperplate Gothic';
    src: url('CopperplateGothicBold.ttf') format('truetype');
}
html{
    scroll-behavior: smooth;
}
/* ------------------------- Root_Classes ------------------------ */
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
a,p{
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
    color: white;
    line-height: 1.6;
}
h1{
    font-family: 'Copperplate Gothic', sans-serif;
    font-size: 4.5rem;
    letter-spacing: 0.2em;
}
li{
    list-style-type: none;
}
button,a{
    cursor: pointer;
}
#Top_Section_Wrapper{
    background-color: black;
    color: white;
    height: auto;
    height: 100vh;
}
/* ------------------------- Social_Link_Section ------------------------ */

#Social_Link{
    position: fixed;
    bottom: 0;
    right: 5vw;
}
#Links{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    align-items: center;
}
#Links::after{
    content: "";
    height: 33vh;
    width: 1px;
    background-color:#afafaf;
    display: inline-block
}
li>a>i{
    font-size: 1.7rem;
    transition: all 0.3s ease;
}
li>a>i:hover{
    transform: translateY(-5px);
}
.fa-youtube:hover{
    color: hsl(0, 53%, 41%);
}
.fa-linkedin:hover{
    color: hsl(224, 53%, 41%);
}
.fa-instagram:hover{
    color: hsl(340, 53%, 41%);
}
.change_color{
    color: black;
}
.change_color_2{
    color: white;
}
#Other_Links{
    position: fixed;
    top: 5vh;
    left: 5vw;
}
#Other_Links p{
    color: white;
    transform: rotate(90deg);
    transform-origin: left;
    font-size: 14px;
    color: #afafaf;
}
#Other_Links::before{
    content: "";
    height: 28vh;
    width: 1px;
    background-color:#afafaf;
    display: inline-block
}
/* ------------------------- Navbar_Section ------------------------ */

#Ul_List_1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    padding-top: 1.5em;
    height: 50px;
    padding-right: 9vw;
    transition: width ease-in-out 0.3s;
}
#Ul_List_1 a{
    width: 85px;
    text-align: center;
}
#Ul_List_1 a:hover{
    font-family: 'Copperplate Gothic', sans-serif;
}
#Toggle{
    display: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.change-cl{
    color: black;
}
.add{
    width: 60% !important;
}
/* ------------------------- Main_Section ------------------------ */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8vh;
}
.Main_Container{
    padding-top: 17vh;
    padding-left: 10vw;
    width: 90%;
    align-items: flex-start;
}
.Main_Container button,#remove{
    background: transparent;
    border: 2px solid hsl(224, 53%, 41%);
    padding: 1em 3em;
    position: relative;
    overflow: hidden;
}

.Main_Container button::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right,hsl(0, 53%, 41%), hsl(310, 53%, 41%), hsl(271, 53%, 41%),hsl(224, 53%, 41%));
    transition: height ease-in-out 0.3s;
    border-top-right-radius: 50% ;
    border-top-left-radius: 50% ;
}
.Main_Container button:hover:after{
    height: 180%;
}
.Main_Container button>a{
    color: white;
}
#Bold{
    font-family: 'Copperplate Gothic', sans-serif;
    /* color: hsl(0, 53%, 41%); */
    background: linear-gradient(to right,hsl(0, 53%, 41%), hsl(310, 53%, 41%), hsl(271, 53%, 41%),hsl(224, 53%, 41%),hsl(0, 53%, 41%) );
    background-size: 200%;
    white-space: nowrap;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 2s linear infinite;
}
  
@keyframes background-pan {
    from{
        background-position: 0 center;
    }
    to{
        background-position: -200% center;
    }
}
.P1{
    font-weight: 100;
    /* width: 60ch; */
    width: 80%;
    color: #afafaf;
    font-size: 1.3rem;
    padding: 1.4em 0;
    line-height: 1.5em;
}

/* ------------------------- Project_Section ------------------------ */

.Project_Container{
    width: 80%;
    margin: auto;
}
.Project_Container h1{
    padding-top: 3rem;
}
.project-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: 2rem;
    place-items: center;
    padding: 3rem 0 5rem 0 ;
}
.imgs img{
    object-fit: cover;
    width: 100%;
    border: 1px solid black;
}
.black-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: all 0.2s ease;
}
.black-overlay:hover{
    backdrop-filter: blur(5px);
}
.black-overlay:hover .overlay-items{
    display: flex;
    gap: 1rem;
    animation: animate 0.3s linear normal;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.overlay-items{
    position: relative;
    z-index: 2;
    display: none;
}
.overlay-items p{
    font-size: 1.8em;
    letter-spacing: 5px;
    font-weight: 700;
}
.imgs{
    cursor: pointer;
    position: relative;
}
.live-btn{
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1rem;
    letter-spacing: 5px;
}


#About_Me_Section{
    background-color: rgb(187, 187, 187);
    width: 100%;
    align-items: flex-start;
    padding:5rem 0
}
#About_Me_Section p{
    color: black;
    font-size: 1.1rem;
    line-height: 1.7em;
    font-weight: 100;
    letter-spacing: 1px;
}
.About_Me_Wrapper{
    width: 70%;
    gap: 6vh;
}
.Icons{
    width: 55px;
}
#Skills{
    gap: 3em;
    padding-top: 5vh;
}
#Skills i{
    font-size: 3rem;
}






.Contact_Wrapper h1{
    padding-bottom: 1em;
}
#Contact_Section{
    background-color: black;
    padding: 5rem 0;
    align-items: flex-start;
}
#Contact_Section h1{
    color: white;
    text-align: center;
}
.Contact_Wrapper{
    width: 75%;
    justify-content: flex-start;
}
.Contact_Content{
    display: flex;
    justify-items: center;
    gap: 2em;
}
.Contact_Content form{
    gap: 2em;
}
.Contact_Content>div>div>p:nth-child(3){
    font-size: 14px;
}
.Contact_Content>div:nth-child(2)>div p{
    padding-bottom: 1.5em;
    font-weight: 200;
}
#remove{
    background: linear-gradient(to right,hsl(0, 53%, 41%), hsl(310, 53%, 41%), hsl(271, 53%, 41%),hsl(224, 53%, 41%),hsl(0, 53%, 41%) );
    background-size: 200%;
    white-space: nowrap;
    animation: background-pan 1.5s infinite linear;
    border: none;
    transition: all ease-in-out 0.3s;

}
#remove::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    background: black;
    transition: height ease-in-out 0.3s;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50% ;
}
#remove:hover{
    border:1px solid hsl(224, 53%, 41%);
}
#remove:hover::before{
    height: 180%;
}
.add2{
    display: none;
}
input{
    width: 450px;
    height: 40px;
    font-size: 1.2rem;
    background-color: #fff;
}
textarea{
    font-size: 1.1rem;
    resize: none;
    width: 450px;
}
.Attributes{
    font-size: 10px;
    font-weight: 200;
}
.Attributes_Wrapper{
    align-items: flex-start;
    padding-bottom: 1em;
}